<div ng-app="app">
  <div ng-controller='contactCtrl'>
    <div class="container">
      <%= success %>
      <h2 class="page-header">Welcome to Contactually Lite</h2>
      <p>by Lianna Newman</p>
        <h5>Sort Alphabetically by Email:</h5> <select ng-model="sortEmail.store" ng-options="item.name for item in sortOptions.stores"></select>
        <h5>Display Only Emails Ending in:</h5> <select ng-model="filterEmail.store" ng-options="item.name for item in filter0ptions.stores"></select>
        <input type="text" ng-model="filterAll" list="email_address" placeholder="Example: .com">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
              <th>Phone Number</th>
              <th>Company Name</th>
              <th>Delete Contact?</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contact in contacts | orderBy:'email_address':reverse | filter:customFilter | filter: {email_address:filterAll}">
              <td>{{contact.first_name}}</td>
              <td>{{contact.last_name}}</td>
              <td>{{contact.email_address}}</td>
              <td>{{contact.phone_number}}</td>
              <td>{{contact.company_name}}</td>
              <td> <input type="button" value="Delete" class="btn btn-danger" ng-click="deleteContact(contact)"/> </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <h4>Import Additional Contacts</h4>
    <%= form_tag({action: :import}, multipart: true) do %>
      <%= file_field_tag :file, accept: '.csv' %>
      <%= submit_tag "Import Contacts", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
